:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --background-color: #ececec;
    font-family: "Roboto", sans-serif;
  }

  body {
    background-color: var(--background-color);
    color: var(--black);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .dashboard {
    margin: 0;
    /* width: 100%; */
    max-width: 500px;
    /* display: flex;
    flex-direction: column; */
  }

  .dashboard__bento {
    list-style:none;
    padding: 1rem;
    margin: 0;
    /* margin-top: 0.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .dashboard__bento img {
    width: 60%;
  }

  .dashboard__bento a {
    text-decoration: none;
    width: calc(375px - 2rem);
    padding: 1rem;
    /* text-align: left; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    row-gap: 1.5rem;
  }

  .dashboard__bento__purple {
    background-color: var(--Purple-500);
    color: var(--white);
    text-align: center;
    align-items: center;
    padding: 2rem;
  }

  .dashboard__bento__purple span {
    color: var(--Yellow-500);
  }

  .dashboard__bento__white {
    background-color: var(--white);
    color: var(--black);
  }

  .dashboard__bento__white > img {
    width: 100%;
  }

  .dashboard__bento__yellow {
    background-color: var(--Yellow-500);
    color: var(--black);
  }

  .dashboard__bento__yellow img {
    width: 70%;
  }

  .dashboard__bento__lilac {
    background-color: var(--Purple-100);
    color: var(--black);
    text-align: center;
    align-items: center;
  }

  .dashboard__bento__lilac img {
    width: 100%;
  }

  .dashboard__bento__cream {
    background-color: var(--Yellow-100);
    color: var(--black);
  }

  .dashboard__bento__cream span {
    color: var(--Purple-500);
  }